header {
    font-size: 50px;
    text-align: center;
    color: yellow;
    text-decoration:underline;
    font-weight:bold;
}
div {
    background-color: aqua;
    width: max-content;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
    display: inline;
   margin-left: 130px;

}
nav.div {
    display: inline-block;
}
a {
    outline: none;
    text-decoration: none;
}
.contenedor1:hover {
    background-color: red;
}
.futbol {
    width: 610px;
    text-align: right;
}
.cosas {
        text-align:center ;

}
body {
    background-image: url(../imagenes/esto\ es\ arttaak.jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    text-decoration: none;

}


.img {
    margin-left: 200px;
}
.texto {
    width: 1500px;
    text-align: right;
    margin-top: -40px;
    font-size: 20px;
}
.index {
    font-size: 35px;
    text-align: center;
}
.formulario {
    font-size: 50px;
    text-align: center;
    padding-left: 610px;
    
}
a {
    font-size: 40px;
    color: white;

}
.cabexa {
    background-color: pink;
}
form {color: white;
}

aside{
    background-color:gray;
    float: left;
    width: 270px;
    height: 750px;
    margin-top: 50px;
    margin-right: 250px;
    padding: auto;

}
main {
    float: left ;
    margin-top: 35px;
    margin-left: 50px;
    width: 700px;
    text-align: center;

}
.carasteristicas {
    column-count: 3;
    height: 150px;
    width: 680px;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: peru;
    padding:10px;
    border: 2px crimson solid;
}
article {
    display: inline-block;
    margin-left: 50px;
}
hr {
    border:solid
    lightgoldenrodyellow;

}

.aside2 {
    background-color:gray;
    float: right;
    width: 270px;
    height: 750px;
    margin-top: 50px;
    margin-right: 0px;
    padding: auto;

}
.foto {
    margin-right: 850px;
    display: inline-block;
    
}
h2 {
    text-align: center;
    margin-right: 48px;
}
.linea {
    margin-left: -55px;
    margin-right: 475px;
}
.abajo {
    text-align: center;
    margin-right: -10px;
}
.salir {
    margin-right: 840px;
}
.jugar {
    float: left;
    margin-top: -240px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 420px;
    ma
}
.foto1 {
    margin-right: -200px;
    margin-top: -80px;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-40%, -50%);
}
.spotify {
    text-align: center;
}
.logo {
    height: 150px;
    width: 150px;
}
footer {
    clear: both;
    background-color: rgb(226, 63, 63);
    text-align: center;
    padding: 20px;
}
.final {
    font-size: 20px;
    color: yellow;
}
form {
    float: left;
    margin-top: 70px;
}
label {
    margin-left: -200px;
}
.titulo {
    text-align: center;
    background-color: palegreen;
}

fieldset{
    padding-inline: 200px;
    width: 500px;
    margin-top: 10px;
    border: orange 2px solid;
    border-radius: 10px;
    margin-left: -100px;
}
.registros {
    width: 200px;
    padding-left: -20px;

}
.fotito {
    width: 100px;
}
.contenedor4 {
    width: 10px;
    height: 100px;
}
.cabeza {
    width: 300px;
}
.foti {
    margin-right: 900px;
    width: 170px;

}   
h5 {
    text-align: right;
    margin-top: -200px;
    font-size: 20px;
    width: 500px;
}
.telefono {
    width: 25px;
    margin-left: -210px;
    
}
.correo {
    width: 25px;
    margin-left: -90px;

}
.ubicacion {
    width: 25px;
    margin-left: -200px;
}

.estudio {
    font-weight: bold;
    font-size: 25px;
    margin-right: 300px;
    margin-top: -30px;
    padding-left: 280px;
}
.enviar {
    text-align: left;
    margin-left: 200px;
}
h6 {
    float: left;
    font-size: 30px;
    margin-top: -8px;
}
.destacado {
    font-size: 28px;
    color: white
}
table {
    border: 5px solid;
    border-block-end-color: 15px;
    width: 700px;

}
th {
    font-size: 30px;
}
td {
    font-size: 20px;
}
.mover {
    text-align: left;
    font-weight: bold;
}
.layount {
    height: 800px;
}
.contenedor6 {
    text-align: left;
    font-weight: bold;
    color: white;
}
.perfil {
    width: 200px;
    margin-right: 900px;
    width: 170px;
}